# Ignorar entorno virtual
venv/

# Archivos de compilación de Python
__pycache__/
*.pyc

# Archivos de Media (subidas de usuarios)
media/

# Configuración de VS Code
.vscode/

#.env archivos de entorno
.env

# Archivos de base de datos SQLite
db.sqlite3

# Archivos de django-staticfiles
staticfiles/

# Archivos de logs
*.log