/* Componentes pagina de inicio */
@import url('components/header.css');
@import url('components/busqueda.css');
@import url('components/banner.css');
@import url('components/categorias.css');
@import url('components/productos.css');
@import url('components/promociones.css');
@import url('components/recetas.css');
@import url('components/horarios.css');
@import url('components/burbuja.css');
@import url('components/parallaxx.css');

/* Estilos pagina productos */
@import url('components/page-productos.css');

/* Estilos pagina detalle Productos*/
@import url('components/detalle_productos.css');

/* Estilos pagina carrito de compras*/
@import url('components/carro.css');

/* Estilos pagina segumiento*/
@import url('components/seguimiento.css');