/* Estilos pagina de carrito de compras */
.card
{
    background: transparent;
}

.schedule-box-2 {
    background-color: #212529;
    box-shadow: 0 4px 15px rgb(0, 0, 0) !important;
    border-radius: 20px;
    max-width: 100%;
    width: 100%;     
    min-height: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.form-control {
    width: 55px;
    height: 55px;
    font-size: 25px;
    font-weight: 25px;
    border-radius: 50%;
    border: none;
    color: white;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}

.form-control:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 20px 5px var(--primary-color);
    color: var(--primary-color);
    transition: 0.5s;
}