/* Estilo de los productos */

.product-sec {
    background-color: #222222;
    /* Cambiado a gris oscuro */
}

.product-box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #333;
    margin-bottom: 25px;
    transition:
        box-shadow 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    will-change: transform, box-shadow;
}

.product-box:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 119, 182, 0.65),
    0 0 0 1px rgba(0, 119, 182, 0.2);
    transform: translateY(-8px);
}

.product-box img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pr-icon ul {
    position: absolute;
    top: 73%;
    right: 25%;
    transition: all .4s ease;
    transform: translatey(40px);
    display: flex;
    opacity: 0;
    gap: 5px;

}

.pr-icon ul li a {
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    background-color: var(--primary-color);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    color: black;
    margin-top: 10px;
    border-radius: 5px;
}

.pr-icon ul li a:hover {
    background-color: transparent;
    box-shadow: 0 0 15px 5px var(--primary-color);
}

.pr-icon ul li a:hover i {
    color: var(--primary-color);
}

.product-box h3 {
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.pr-text {
    text-align: center;
    margin-top: 18px;
}

.pr-text h3 {
    font-size: 14px;
}

.pr-img {
    height: 250px;
    position: relative;
    overflow: hidden;
    background: transparent;
}

.pr-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    transition: transform 0.3s ease;
}

.product-box:hover .pr-img img {
    transform: translate(-50%, -50%) scale(1.15);
}

.product-box:hover .pr-icon ul {
    transform: inherit;
    opacity: 1;
    top: 60%;
}

.title h6 {
    font-size: 36px;
    text-transform: uppercase;
}

.title h2 {
    font-size: 36px;
    text-transform: capitalize;
    color: var(--primary-color);
}